<html>
    <div style="width:500px; height: 500px; display:block;" class="container justify-content-center">
        <div class="card">
      <div class="tab-content">
        <div class="card-body" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <h1 class="card-title"style="margin-bottom:50px;">Login</h1>
            <form action="/login/" method ="POST"> {% csrf_token %}
            {%if errorMessage%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>
                {{errorMessage}}
              </strong>
              <button type="button" class="btn btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}
            <div class="form-outline mb-4">
              {{formLogin.email}}
              <label class="form-label" for="loginName">Correo</label>
            </div>
            <div class="form-outline mb-4">
              {{formLogin.password}}
              <label class="form-label" for="loginPassword">Contraseña</label>
            </div>
            <div class="row mb-4">
              <div class="col-md-6 d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check mb-3 mb-md-0">
                  <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar Sesión</button>
                </div>
              </div>
      
            </form>
            </div>
        </div>
    </div>
</html>