{% extends "./base.html" %}
{% block title %} Gestion de miembros {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion de miembros</h2>
        <div class ="card">
            <div class ="card-body"></div>
            <form action="/editarUsuario/" method="POST">{% csrf_token %}
                <div class="mb-3" style="display:none;">
                    <input type="text" name="id" value="{{usuario.idUsuario}}" readonly class="form-control" >
                </div>
                <div class="mb-3">
                    <input type="text" name="nombre" class ="form-control" value="{{usuario.nombre}}" placeholder="Nombre">
                </div>
                <div class="mb-3">
                    <input type="text" name="apellido" class="form-control"value="{{usuario.apelllido}}" placeholder="Apellido">
                </div>
                <div class="mb-3">
                    <input type="email" name="correo" class="form-control" value="{{usuario.correo}}"placeholder="Correo">
                </div>
                <div class="mb-3">
                    <select name="rol" class="form-control">
                        <option selected>{{usuario.rol}}</option>
                        <option value ="Cliente">Cliente</option>
                        <option value ="Entrenador">Entrenador</option>
                      </select>
                </div>
                <div class="mb-3">
                    <input type="password" name="contraseña"value="{{usuario.contraseña}}" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success btn-block ">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}