{% extends "./base.html" %}
{% block title %} Gestion de miembros {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion de miembros</h2>
        <div class ="card">
            <div class ="card-body"></div>
            <form action="/editarUsuario/" method="POST">{% csrf_token %}
                <div class="mb-3" style="display:none;">
                    <input type="text" name="id" value="{{usuario.idUsuario}}" readonly class="form-control" >
                </div>
                <div class="form-group mb-3">
                    <label>Nombres</label>
                    <input type="text" name="nombre" class ="form-control" value="{{usuario.nombre}}" placeholder="Nombre">
                </div>
                <div class="form-group mb-3">
                    <label>Apellido</label>
                    <input type="text" name="apellido" class="form-control"value="{{usuario.apellido}}" placeholder="Apellido">
                </div>
                <div class="form-group mb-3">
                    <label>Correo</label>
                    <input type="email" name="correo" class="form-control" value="{{usuario.correo}}"placeholder="Correo">
                </div>
                <div class="form-group mb-3">
                    <label>Rol</label>
                    <select onchange="mostrarEntrenador(this)" id ="rol"name="rol" class="form-control">
                        <option selected>{{usuario.rol}}</option>
                        <option value ="Cliente">Cliente</option>
                        <option value ="Entrenador">Entrenador</option>
                      </select>
                </div>
                <div class="form-group md-2">
                    <label id="labelEntrenador">Modificar entrenador asignado (<i>solo administrador</i>) </label>
                    <select name="entrenador" id="entrenador" class="form-select">
                        <option value="">...</option>
                        {%for i in Entrenadores%}
                        <option value="{{i.nombre}}">{{i.nombre}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Contraseña</label>
                    <input type="password" name="contraseña"value="{{usuario.contraseña}}" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success btn-block ">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    if (document.getElementById('rol').value != "Cliente"){
        document.getElementById('entrenador').style = "display:none";
        document.getElementById('entrenador').value = "";
      document.getElementById('labelEntrenador').style = "display:none";
    }
    function mostrarEntrenador(opcion){
    valor = document.getElementById('rol').value;
    console.log(valor);
    if (valor != "Cliente"){
      document.getElementById('entrenador').style = "display:none";
      document.getElementById('labelEntrenador').style = "display:none";
      document.getElementById('entrenador').value = "";
      }
    else{
      document.getElementById('entrenador').style = "display:block";
      document.getElementById('labelEntrenador').style = "display:block";
    }
  }
 </script>
{% endblock %}

 