{% extends "./base.html" %}
{% block title%} Gestion de miembros {% endblock %}
<link rel="stylesheet" href="../static/css/gestionMiembro.css">
{% block body %}
<div class="d-inline-block">
    <h1>Miembros</h1>
</div>
<form action="/registrarUsuario/" method="POST"> {%csrf_token%}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombres</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombres">
      </div>
      <div class="form-group col-md-6">
        <label>Apellido</label>
        <input type="text" class="form-control" name="apellido"placeholder="Apellido">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Rut</label>
      <input type="text" class="form-control"name="rut" placeholder="1.111.111-1">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Correo</label>
      <input type="email" class="form-control" name="correo" placeholder="ejemplo@mail.com">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Contraseña</label>
        <input type="" class="form-control" name="contraseña">
      </div> 
      <div class="form-group col-md-4">
        <label for="inputState">Rol</label>
        <select onchange="mostrarEntrenador(this)" id ="rol"name="rol" class="form-control">
          <option selected >Selecione un rol</option>
          <option value ="Cliente">Cliente</option>
          <option value ="Entrenador">Entrenador</option>
        </select>
      </div>
      <br>
      <div class="form-group col-md-2">
        <label id="labelEntrenador">Entrenador asignado</label>
        <select name="entrenador" id="entrenador" class="form-select">
        <option value="">...</option>
        {%for i in Entrenadores%}
        <option value="{{i.nombre}}">{{i.nombre}}</option>
        {%endfor%}
        </select>
        <button type="submit" class="btn btn-dark" style="margin-top:20px;">Agregar miembro</button><br><br><br>
      </div>
    </div>
  </form>
<div class="d-xxl-flex justify-content-center" style="margin-bottom: 200px;">
    <div class = "col-xl-12 col-xl-6 col-xl-8 col-xl-8">
        <div class ="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Contraseña</th>
                        <th>Entrenador</th>
                        <th>Tarjeta</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for u in Usuarios%}
                    {%if u.activo%}
                    <tr class="table-success">
                    {%else%}
                    <tr class="table-danger">
                    {%endif%}
                        <td>{{u.idUsuario}}</td>
                        <td>{{u.rut}}</td>
                        <td>{{u.nombre}}</td>
                        <td>{{u.apellido}}</td>
                        <td>{{u.correo}}</td>
                        <td>{{u.rol}}</td>
                        <td>{{u.contraseña}}</td>
                        <td>{{u.entrenador}}</td>
                        <td><button id="{{u.tarjeta}}"type="button" onclick="obtenerInfo('{{u}}')" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Modificar</button></td>
                        {%if u.activo%}
                        <td>Activo</td>
                        {%else%}
                        <td>Inactivo</td>
                        {%endif%}
                        <td><a href="/edicionUsuario/{{u.idUsuario}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/eliminarUsuario/{{u.idUsuario}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                </tbody>
        </div>
    </div>
</div>
{%endfor%}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion de tarjeta</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/modificarTarjeta/" method="POST"> {%csrf_token%}
          <div class="mb-3" style="display:none;">
            <input type="text" id ="idTarjeta"name="idTarjeta" value="" readonly class="form-control" >
        </div>
          <div class="form-group owner">
            <label for="owner">Nombre cliente</label>
            <input id ="nameTarjeta"type="text"class="form-control">
        </div>
        <div class="form-group CVV">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" id="cvv" placeholder="123">
        </div>
        <div class="form-group">
            <label>Numero de tarjeta</label>
            <input type="text" id ="tarjeta"class="form-control" name="tarjeta" placeholder="0000-1111-2222-3333">
        </div>
        <div class="form-group" id="expiration-date"><br>
            <label>Fecha de expiracion</label>
            <select>
                <option value="01">Enero</option>
                <option value="02">Febrero </option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayp</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <select>
                <option value="20"> 2020</option>
                <option value="21"> 2021</option>
                <option value="20"> 2022</option>
                <option value="21"> 2023</option>
                <option value="20"> 2024</option>
                <option value="21"> 2025</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
  function obtenerInfo(variable){
    var datos = variable.split(",")
    var inputId = document.getElementById('idTarjeta');
    var nombreId = document.getElementById('nameTarjeta');
    var tarjeta = document.getElementById('tarjeta');
    inputId.value = datos[0];
    nombreId.value = datos[1] + " "+datos[2];
    tarjeta.value = datos[7];
    console.log(datos[0]);
  }
  function mostrarEntrenador(opcion){
    valor = document.getElementById('rol').value;
    if (valor != "Cliente"){
      document.getElementById('entrenador').style = "display:none";
      document.getElementById('labelEntrenador').style = "display:none";
      document.getElementById('entrenador').value = "";
      }
    else{
      document.getElementById('entrenador').style = "display:block";
      document.getElementById('labelEntrenador').style = "display:block";
    }
  }
 </script>
 
{%endblock%}
