{% extends "./base.html" %}

{%block title%} Gestion de miembros {% endblock %}

<link rel="stylesheet" href="../static/css/gestionMiembro.css">
{% block body %}
<div class="d-inline-block">
    <h1 style="color:white;">Miembros</h1>
</div>
{%if tipo == "warning" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{Message}}</strong>
  <button type="button" class="btn btn-close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
<form style ="color:white;"action="/registrarUsuario/" method="POST"> {%csrf_token%}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombres</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombres" style="max-width: 500px;">
      </div>
      <div class="form-group col-md-6">
        <label>Apellido</label>
        <input type="text" class="form-control" name="apellido"placeholder="Apellido" style="max-width: 500px;">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Rut</label>
      <input type="text" class="form-control"name="rut" placeholder="1.111.111-1" style="max-width: 500px;">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Correo</label>
      <input type="email" class="form-control" name="correo" placeholder="ejemplo@mail.com" style="max-width: 500px;">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Contraseña</label>
        <input type="password" class="form-control" name="password" style="max-width: 500px;">
      </div> 
      <div class="form-group col-md-4">
        <label for="inputState">Rol</label>
        <select onchange="mostrarEntrenador(this)" id ="rol"name="rol" class="form-control">
          <option selected >Selecione un rol</option>
          <option value ="Cliente">Cliente</option>
          <option value ="Entrenador">Entrenador</option>
        </select>
      </div>
      <br>
      <div class="form-group col-md-2">
        <label id="labelEntrenador">Entrenador asignado</label>
        <select name="entrenador" id="entrenador" class="form-select">
        <option value="">...</option>
        {%for i in Entrenadores%}
        <option value="{{i.nombre}}">{{i.nombre}}</option>
        {%endfor%}
        </select>
        <button type="submit" class="btn btn-dark" style="margin-top:20px;">Agregar miembro</button><br><br><br>
      </div>
    </div>
  </form>
  <div class="mb-3">
    <form action="/filtrarPorColumna/" method="POST" id="filterForm"> {%csrf_token%}
    <h2 style="color:white;"for="basic-url" class="form-label">Buscar</h2>
    <div class="input-group">
      {%if filtro %}
      <input type="text" name="filtro"class="form-control"value="{{filtro}}">
      {%else%}
      <input type="text" name="filtro"class="form-control">
      {%endif%}
      {%if columna == "sin_filtro"%}
      <select value ="{{columna}}" name="columna" id ="idSelected"class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option selected value="sin_filtro">Sin filtro</option>
        <option value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
        <option value="rut">Rut</option>
        <option value="rol">Rol</option>
      {%elif columna == "nombre"%}
      <select value ="{{columna}}" name="columna" id ="idSelected"class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option value="sin_filtro">Sin filtro</option>
        <option selected value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
        <option value="rut">Rut</option>
        <option value="rol">Rol</option>
      {%elif columna == "apellido"%}
      <select value ="{{columna}}" name="columna" id ="idSelected"class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option value="sin_filtro">Sin filtro</option>
        <option value="nombre">Nombre</option>
        <option selected value="apellido">Apellido</option>
        <option value="rut">Rut</option>
        <option value="rol">Rol</option>
      {%elif columna == "rut"%}
      <select value ="{{columna}}" name="columna" id ="idSelected"class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option value="sin_filtro">Sin filtro</option>
        <option value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
        <option selected value="rut">Rut</option>
        <option value="rol">Rol</option>
      {%elif columna == "rol"%}
      <select value ="{{columna}}" name="columna" id ="idSelected"class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <option value="sin_filtro">Sin filtro</option>
        <option value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
        <option value="rut">Rut</option>
        <option selected value="rol">Rol</option>
      {%endif%}
      </select>
      <button class="btn btn-light">Filtrar</button>
    </div>
    </form>
  </div>
</div>
<br>
<div class="d-xxl-flex justify-content-center" style="margin-bottom: 200px;">
    <div class = "col-xl-12 col-xl-6 col-xl-8 col-xl-8">
        <div class ="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Entrenador</th>
                        <th>Tarjeta</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for u in Usuarios%}
                    {%if u.activo%}
                    <tr class="table-success">
                    {%else%}
                    <tr class="table-danger">
                    {%endif%}
                        <td>{{u.idUsuario}}</td>
                        <td>{{u.rut}}</td>
                        <td>{{u.nombre}}</td>
                        <td>{{u.apellido}}</td>
                        <td>{{u.correo}}</td>
                        <td>{{u.rol}}</td>
                        <td>{{u.entrenador}}</td>
                        <td><button id="{{u.tarjeta}}"type="button" onclick="editarInfo('{{u}}')" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Modificar</button></td>
                        {%if u.activo%}
                        <td>Activo</td>
                        {%else%}
                        <td>Inactivo</td>
                        {%endif%}
                        <td><a href="/edicionUsuario/{{u.idUsuario}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/eliminarUsuario/{{u.idUsuario}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                </tbody>
        </div>
    </div>
</div>
{%endfor%}
<div style="color:black;"class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;" id="exampleModalLabel">Informacion de tarjeta</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/modificarTarjeta/" method="POST"> {%csrf_token%}
          <div class="mb-3" style="display:none;">
            <input type="text" id ="idTarjeta"name="idTarjeta" value="" readonly class="form-control" >
        </div>
          <div class="form-group owner">
            <label for="owner">Nombre cliente</label>
            <input name = "nombreTitular"id ="nombreTitular"type="text"class="form-control">
        </div>
        <div class="form-group CVV">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" id="cvv" placeholder="123" name="cvv">
        </div>
        <div class="form-group">
            <label>Numero de tarjeta</label>
            <input type="text" id ="tarjeta"class="form-control" name="tarjeta" placeholder="0000-1111-2222-3333">
        </div>
        <div class="form-group" id="expiration-date"><br>
            <label>Fecha de expiracion</label>
            <select name ="mes" id="mes">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select name="año" id="año">
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="20">2022</option>
                <option value="21">2023</option>
                <option value="20">2024</option>
                <option value="21">2025</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script>
  //Esta funcion obtiene la informacion ya registrada de algun usuario y la muestra al editar
  function editarInfo(variable){
    var datos = variable.split(",");
    console.log(datos)
    var inputId = document.getElementById('idTarjeta');
    var nombreId = document.getElementById('nombreTitular');
    var tarjeta = document.getElementById('tarjeta');
    var cvv = document.getElementById('cvv');
    var mes = document.getElementById('mes');
    var año = document.getElementById('año')
    inputId.value = datos[0];
    nombreId.value = datos[7];
    tarjeta.value = datos[3];
    mes.value = datos[4];
    año.value = datos[5];
    cvv.value = datos[6];
  }
  function mostrarEntrenador(opcion){
    valor = document.getElementById('rol').value;
    if (valor != "Cliente"){
      document.getElementById('entrenador').style = "display:none";
      document.getElementById('labelEntrenador').style = "display:none";
      document.getElementById('entrenador').value = "";
      }
    else{
      document.getElementById('entrenador').style = "display:block";
      document.getElementById('labelEntrenador').style = "display:block";
    }
  }
 </script>
 {%endblock%}
 

