{% extends "./base.html"%}
{% block title%} Gestion de miembros {%endblock%}

{%block body%}
<div class ="row">
    <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {%if messages %}
        {%for message in messages%}
        <div class="alert alert-success alert-dismissible">
            <button type = "button" class="btn-close" aria-label="Close"data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{message}}</strong>
        </div>
        {%endfor%}
        {%endif%}
        <h2>Gestion de miembros</h2>
        <div class ="card">
            <div class ="card-body"></div>
            <form action="/registrarUsuario/" method="POST">{% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="nombre" class ="form-control" placeholder="Nombre">
                </div>
                <div class="mb-3">
                    <input type="text" name="apellido" class="form-control" placeholder="Apellido">
                </div>
                <div class="mb-3">
                    <input type="email" name="correo" class="form-control" placeholder="Correo">
                </div>
                <div class="mb-3">
                    <input type="text" name="rol"class="form-control" placeholder="Rol">
                </div>
                <div class="mb-3">
                    <input type="password" name="contraseña" class="form-control" placeholder="Contraseña">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success btn-block ">Registrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Miembros</h2>
        <div class ="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Contraseña</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in Usuarios%}
                    <tr>
                        <td>{{u.idUsuario}}</td>
                        <td>{{u.nombre}}</td>
                        <td>{{u.apelllido}}</td>
                        <td>{{u.correo}}</td>
                        <td>{{u.rol}}</td>
                        <td>{{u.contraseña}}</td>
                        <td>{{u.entrenador}}</td>
                        <td><a href="edicionUsuario/{{u.idUsuario}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarUsuario/{{u.idUsuario}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
        </div>
    </div>
</div>
{%endblock%}