* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?cs=srgb&dl=pexels-leon-ardho-1552242.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bienvenida-home {
    color: white;
}
.btn-r{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 315px;
    padding: 12px 18px;
    border-radius: 18px;
    border: 0;
    font-family: Gotham-Medium,sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: blue;
}

.form-control {
    margin-bottom: 5px;
}

.btn-primary{
    margin-top: 20px;
}

.card{
    padding: 8px;
}

.lower-buttons .modal-footer{
    display: flex;
    flex-direction: row-reverse;
}

.modal-footer .btn-primary{
    margin-top: 2px;
}
.lower-buttons button{
    margin-left: 10px;
}