* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?cs=srgb&dl=pexels-leon-ardho-1552242.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bienvenida-home {
    color: white;
}

