a:link, a:visited{
    color: white;
    text-decoration: none;

  }

a.btn-r:hover{
    opacity: 75% ;
}

a.btn-r {
    background-color: #0d6efd;
}
#nav-bar:link, #nav-bar:visited{
    color:white;
    text-decoration: none;
}

.btn-outline-danger{
    background-color: red;
}

.btn-outline-success{
    background-color: green;
}

td {
    color: white;
}



.btn-outline-read {
    background-color: #00BFFF;
    --bs-btn-color: white;
    --bs-btn-border-color: #00BFFF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #00BFFF;
    --bs-btn-hover-border-color: #00BFFF;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00BFFF;
    --bs-btn-active-border-color: #00BFFF;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #00BFFF;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #00BFFF;
    --bs-gradient: none;
}


table {
    width: 55%;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


.table-plans{
    width: 90%; 
    margin-left: 5%;
}
.botones-opciones{
    text-align: center;
}

.btn{
    margin-right: 20px;
}

.table-plans tbody td {
    background-color: rgb(237, 237, 237);
    color: #000;
    font-size: 20px;
    margin-left: 5%
}

th{
    text-align: center;
}

.close{
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.close:hover {
    transform: scale(1.2);
  }